{% extends 'imager_profile/base.html' %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

{% csrf_token %}
{% for album in user.album_set.all %}
    <a href="{% url 'single-album' album.id %}"><img src="{{ album.cover.image.url }}" alt="">
{% endfor %}
{% for photo in user.photo_set.all %}
    <a href="{% url 'single-photo' photo.id %}"><img src="{{ photo.image.url }}" alt=""></a>
{% endfor %}

    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

{% endblock %}
