{% extends 'imager_profile/base.html' %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

    <div class="profile-view">
        <h1>Welcome, {{ profile.user.username }}!</h1>

{% if user.is_authenticated and user.profile is profile %}

        <h3>PRIVATE ALBUM COUNT: {{ private_albums.count }}</h3>
        <h3>PRIVATE PHOTO COUNT: {{ private_photos.count }}</h3>
        <h3>PUBLIC ALBUM COUNT: {{ user.photo_set.count }}</h3>
        <h3>PUBLIC PHOTO COUNT: {{ user.album_set.count }}</h3>
        <a href="{% url 'edit-profile' %}">Edit Profile</a>


{% endif %}

        <p>WEBSITE: {{ profile.website }}</p>
        <p>LOCATION: {{ profile.location }}</p>
        <p>COMMISSION: {{ profile.commission }}</p>
        <p>CAMERA: {{ profile.camera }}</p>
        <p>SERVICES: {{ profile.services }}</p>
        <p>BIO: {{ profile.bio }}</p>
        <p>PHONE: {{ profile.phone }}</p>
        <p>PHOTO_STYLES: {{ profile.photo_styles }}</p>

        <p>To edit your information, use the form below.</p>
    </div>


    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

{% endblock %}
